.mainIniciar{

    h2{
        font-family: $fuente1;
        text-align: center;
        margin-top:2rem;
    }

    p{
        font-family: $fuente2;
        text-align: center;
    }

    .formularioIniciar{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        div{
            margin:0.5rem;
        }

        button{
            margin:0.5rem;
            background-color: $color_ppal;
            border: $color_ppal;
        }        
    }
}