/*VARS*/
$color_ppal:#FF5757;
$color_hover:#cefc85;
$fuente1: 'Rufina', serif;
$fuente2: 'Raleway', sans-serif;

@import "header";
@import "footer";
@import "index";
@import "responsive";
@import "sobrenos";
